.header {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	height: 42px;
	z-index: 2;
	display: block;
	background-color: whitesmoke;
	/*padding-top: 2px;*/
}

.header h2 {
	margin-top: 0px;
	font-size: 32px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}